.cardapioimg{
    width: 320px;
    height: 205px;
}

.bannerimg{
    width: 320px;
    height: 420px;
}

.footer {
    padding-top: 10px;
    color: #fff;
}

.contato {
    padding-top: 80px;
    height: 650px;

}