body {
    
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
}

.nav-item { 
    font-family: 'open sans';
    color: white;
}

h1 {
    margin-top: 1em;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: darkorange;
    text-transform: uppercase;
}

h2 {
    margin-top: 1em;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

p {
    margin-top: 1em;
    text-align: left;
    font-family: 'open sans';
    color: grey;
}

.btn { 
    background-color: darkorange;
    border-color: chocolate;
    transition: none;
    margin-top: 1em;
}

.cardapioimg{
    width: 320px;
    height: 205px;
}

.bannerimg{
    width: 320px;
    height: 420px;
}

.footer {
    padding-top: 10px;
    color: #fff;
}

.contato {
    padding-top: 80px;
    height: 650px;

}
